.oper-e1coupon-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.oper-e1coupon-member-accept {
  flex: 0 0 auto;
  width: 1300px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.oper-e1coupon-container01 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-e1coupon-text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-e1coupon-container02 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-container03 {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-e1coupon-container04 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text01 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container05 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text05 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container06 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text06 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container07 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text07 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container08 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text08 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container09 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text09 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container10 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text10 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container11 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-container12 {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-e1coupon-text11 {
  width: 50%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container13 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 15px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.oper-e1coupon-text12 {
  color: rgb(0, 0, 0);
  width: 1100px;
  font-size: 18px;
  line-height: 2;
}
.oper-e1coupon-container14 {
  width: 100%;
  display: flex;
  margin-top: 15px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.oper-e1coupon-textinput {
  color: var(--dl-color-gray-black);
  width: 35%;
  height: 40px;
  font-size: 16;
  text-align: center;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
}
.oper-e1coupon-container15 {
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.oper-e1coupon-text27 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.oper-e1coupon-member-accept1 {
  flex: 0 0 auto;
  width: 1300px;
  height: auto;
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.oper-e1coupon-container16 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-e1coupon-text28 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-e1coupon-container17 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-container18 {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-e1coupon-container19 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text29 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container20 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text33 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container21 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text34 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container22 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text35 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container23 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text36 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container24 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text37 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container25 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-text38 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container26 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-e1coupon-container27 {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-e1coupon-text39 {
  width: 50%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.oper-e1coupon-container28 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: flex-end;
}
.oper-e1coupon-container29 {
  flex: 0 0 auto;
  width: 200px;
  height: 40px;
  display: flex;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.oper-e1coupon-container29:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-e1coupon-container29:active {
  background-color: var(--dl-color-primary-300);
}
