.oper-a3userlist-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.oper-a3userlist-member-accept {
  flex: 0 0 auto;
  width: 1300px;
  height: auto;
  display: flex;
  min-height: 800px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.oper-a3userlist-container01 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-a3userlist-text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-a3userlist-container02 {
  top: 10px;
  right: 20px;
  width: var(--dl-size-size-large);
  height: 60%;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.oper-a3userlist-container02:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container02:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text01 {
  width: 50%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container03 {
  flex: 0 0 auto;
  width: 1199px;
  height: 45px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-container04 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text02 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container05 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text03 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container06 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text04 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container07 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text05 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container08 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text06 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container09 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text07 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container10 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text08 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container11 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text09 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container12 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text10 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container13 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-container14 {
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a3userlist-container15 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text11 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container16 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text12 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container17 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text13 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container18 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text14 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container19 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text15 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container20 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text16 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container21 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text17 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container22 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text18 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-container23 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text19 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a3userlist-filter-2 {
  width: 1200px;
  height: 35px;
  display: flex;
  align-self: center;
  margin-top: 30px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.oper-a3userlist-container24 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a3userlist-container24:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container24:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text20 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container25 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a3userlist-container25:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container25:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text21 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container26 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a3userlist-container26:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container26:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text22 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container27 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a3userlist-container27:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container27:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text23 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container28 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a3userlist-container28:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container28:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text24 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container29 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff1b3;
}
.oper-a3userlist-container29:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container29:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text25 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container30 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff1b3;
}
.oper-a3userlist-container30:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container30:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text26 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container31 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff1b3;
}
.oper-a3userlist-container31:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container31:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text27 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container32 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff1b3;
}
.oper-a3userlist-container32:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a3userlist-container32:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a3userlist-text28 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-menu {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 8px;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: column;
  justify-content: center;
}
.oper-a3userlist-container33 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 15px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.oper-a3userlist-text29 {
  margin-right: 10px;
}
.oper-a3userlist-numbering {
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-container34 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-icon {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container35 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text30 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.oper-a3userlist-container36 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text31 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a3userlist-container37 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text32 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a3userlist-container38 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text33 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a3userlist-container39 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text34 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a3userlist-container40 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-icon2 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.oper-a3userlist-textinput {
  color: var(--dl-color-gray-black);
  width: 35%;
  height: 40px;
  font-size: 13px;
  text-align: center;
  margin-left: 30px;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
}
.oper-a3userlist-container41 {
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.oper-a3userlist-text35 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.oper-a3userlist-container42 {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.44);
}
.oper-a3userlist-container43 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1250px;
  bottom: 0px;
  height: 650px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 5px 0px #000000;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-container44 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-a3userlist-text36 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-a3userlist-container45 {
  top: 5px;
  flex: 0 0 auto;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff700;
}
.oper-a3userlist-icon4 {
  width: 24px;
  height: 24px;
}
.oper-a3userlist-container46 {
  flex: 0 0 auto;
  width: 1199px;
  height: 33px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-container47 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text37 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container48 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text38 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container49 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text39 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container50 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text40 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container51 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text41 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container52 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text42 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container53 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text43 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container54 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-container55 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a3userlist-container56 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput01 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container57 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput02 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container58 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput03 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container59 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput04 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container60 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput05 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container61 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput06 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container62 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput07 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container63 {
  flex: 0 0 auto;
  width: 1199px;
  height: 33px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-container64 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text44 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container65 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text45 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container66 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text46 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container67 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text47 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container68 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text48 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container69 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text49 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container70 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a3userlist-text50 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a3userlist-container71 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-container72 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a3userlist-container73 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput08 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container74 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput09 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container75 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput10 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container76 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput11 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container77 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput12 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container78 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput13 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container79 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-textinput14 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a3userlist-container80 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-container81 {
  width: 1200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a3userlist-text51 {
  width: 98%;
  font-size: 20px;
  font-style: normal;
  margin-top: 10px;
  text-align: left;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: 10px;
}
.oper-a3userlist-textarea {
  width: 96%;
  height: 247px;
  font-size: 16px;
  margin-left: 2%;
  border-width: 0px;
  margin-right: 2%;
  border-radius: 0px;
  background-color: var(--dl-color-gray-900);
}
.oper-a3userlist-filter-21 {
  width: 96%;
  height: 35px;
  display: flex;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 10px;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.oper-a3userlist-container82 {
  flex: 0 0 auto;
  width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-700);
}
.oper-a3userlist-text54 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}
.oper-a3userlist-container83 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text55 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a3userlist-radiobutton {
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container84 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text56 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a3userlist-radiobutton1 {
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container85 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text57 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a3userlist-radiobutton2 {
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container86 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text58 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a3userlist-radiobutton3 {
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container87 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text59 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a3userlist-radiobutton4 {
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container88 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a3userlist-text60 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a3userlist-radiobutton5 {
  width: 18px;
  height: 18px;
}
.oper-a3userlist-container89 {
  width: 1200px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.oper-a3userlist-container90 {
  flex: 0 0 auto;
  width: 10%;
  height: 40px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-danger-700);
}
.oper-a3userlist-container90:hover {
  background-color: var(--dl-color-danger-500);
}
.oper-a3userlist-container90:active {
  background-color: var(--dl-color-danger-300);
}
.oper-a3userlist-text61 {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.oper-a3userlist-container91 {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.oper-a3userlist-text62 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
