.oper-a-membership-application-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.oper-a-membership-application-member-accept {
  flex: 0 0 auto;
  width: 1300px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.oper-a-membership-application-container01 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-a-membership-application-text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-a-membership-application-container02 {
  top: 10px;
  right: 20px;
  width: var(--dl-size-size-large);
  height: 60%;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.oper-a-membership-application-container02:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-membership-application-container02:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-membership-application-text01 {
  width: 50%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container03 {
  flex: 0 0 auto;
  width: 1199px;
  height: 45px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-membership-application-container04 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text02 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container05 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text03 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container06 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text04 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container07 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text05 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container08 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text06 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container09 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text07 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container10 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text08 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container11 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text09 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container12 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-membership-application-text10 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-membership-application-container13 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: 40px;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a-membership-application-container15 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text11 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container16 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text15 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container17 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text16 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container18 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text17 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container19 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text18 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container20 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text19 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container21 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text20 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container22 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-text21 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-membership-application-container23 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-membership-application-radiobutton {
  width: 25px;
  height: 25px;
}
.oper-a-membership-application-container24 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  margin-top: 10px;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.oper-a-membership-application-container25 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a-membership-application-textinput {
  width: var(--dl-size-size-xxlarge);
  height: 40px;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 1px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-membership-application-container26 {
  flex: 0 0 auto;
  width: 200px;
  height: 40px;
  display: flex;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-success-700);
}
.oper-a-membership-application-container26:hover {
  background-color: var(--dl-color-success-500);
}
.oper-a-membership-application-container26:active {
  background-color: var(--dl-color-success-300);
}
.oper-a-membership-application-container27 {
  flex: 0 0 auto;
  width: 200px;
  height: 40px;
  display: flex;
  align-self: flex-end;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.oper-a-membership-application-container27:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-membership-application-container27:active {
  background-color: var(--dl-color-primary-300);
}
