.oper-a-userlist-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.oper-a-userlist-member-accept {
  flex: 0 0 auto;
  width: 1300px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.oper-a-userlist-container01 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-a-userlist-text {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-a-userlist-container02 {
  top: 10px;
  right: 20px;
  width: var(--dl-size-size-large);
  height: 60%;
  display: flex;
  position: absolute;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-700);
}
.oper-a-userlist-container02:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container02:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text01 {
  width: 50%;
  height: auto;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container03 {
  flex: 0 0 auto;
  width: 1199px;
  height: 45px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-container04 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text02 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container05 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text03 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container06 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text04 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container07 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text05 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container08 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text06 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container09 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text07 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container10 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text08 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container11 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text09 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container12 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text10 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container13 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-container14 {
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a-userlist-container15 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text11 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container16 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text12 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container17 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text13 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container18 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text14 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container19 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text15 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container20 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text16 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container21 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text17 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container22 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text18 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-container23 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text19 {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.oper-a-userlist-filter-2 {
  width: 1200px;
  height: 35px;
  display: flex;
  align-self: center;
  margin-top: 30px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.oper-a-userlist-container24 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container24:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container24:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text20 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container25 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container25:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container25:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text21 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container26 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container26:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container26:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text22 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container27 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container27:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container27:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text23 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container28 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container28:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container28:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text24 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container29 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container29:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container29:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text25 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container30 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container30:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container30:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text26 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container31 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container31:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container31:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text27 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container32 {
  width: var(--dl-size-size-xlarge);
  height: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #b3e9ff;
}
.oper-a-userlist-container32:hover {
  background-color: var(--dl-color-primary-500);
}
.oper-a-userlist-container32:active {
  background-color: var(--dl-color-primary-300);
}
.oper-a-userlist-text28 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-menu {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 8px;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: column;
  justify-content: center;
}
.oper-a-userlist-container33 {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  display: flex;
  margin-top: 15px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.oper-a-userlist-text29 {
  margin-right: 10px;
}
.oper-a-userlist-numbering {
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-container34 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-icon {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.oper-a-userlist-container35 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text30 {
  color: var(--dl-color-gray-black);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.oper-a-userlist-container36 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text31 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a-userlist-container37 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text32 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a-userlist-container38 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text33 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a-userlist-container39 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text34 {
  color: var(--dl-color-gray-700);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.oper-a-userlist-container40 {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-icon2 {
  fill: var(--dl-color-gray-700);
  width: 18px;
  height: 18px;
}
.oper-a-userlist-textinput {
  color: var(--dl-color-gray-black);
  width: 35%;
  height: 40px;
  font-size: 13px;
  text-align: center;
  margin-left: 30px;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
}
.oper-a-userlist-container41 {
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.oper-a-userlist-text35 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.oper-a-userlist-container42 {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.44);
}
.oper-a-userlist-container43 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 1250px;
  bottom: 0px;
  height: 650px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  box-shadow: 0px 0px 5px 0px #000000;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-container44 {
  flex: 0 0 auto;
  width: 1200px;
  height: 50px;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: 20px;
  align-items: center;
  margin-left: -1px;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.oper-a-userlist-text36 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.oper-a-userlist-container45 {
  top: 5px;
  flex: 0 0 auto;
  right: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff700;
}
.oper-a-userlist-icon4 {
  width: 24px;
  height: 24px;
}
.oper-a-userlist-container46 {
  flex: 0 0 auto;
  width: 1199px;
  height: 33px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-container47 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text37 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container48 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text38 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container49 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text39 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container50 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text40 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container51 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text41 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container52 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text42 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container53 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text43 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container54 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-container55 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a-userlist-container56 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput01 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container57 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput02 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container58 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput03 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container59 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput04 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container60 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput05 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container61 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput06 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container62 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput07 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container63 {
  flex: 0 0 auto;
  width: 1199px;
  height: 33px;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-container64 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text44 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container65 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text45 {
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container66 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text46 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container67 {
  width: 35%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text47 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container68 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text48 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container69 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text49 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container70 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.oper-a-userlist-text50 {
  color: var(--dl-color-gray-800);
  width: 100%;
  font-size: 13px;
  text-align: center;
}
.oper-a-userlist-container71 {
  flex: 0 0 auto;
  width: 1199px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-container72 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.oper-a-userlist-container73 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput08 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container74 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput09 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container75 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput10 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container76 {
  width: 35%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput11 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container77 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput12 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container78 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput13 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container79 {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  margin-left: -1px;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-textinput14 {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-size: 12px;
  text-align: center;
  border-width: 0px;
  border-radius: 0px;
  padding-bottom: 0px;
  background-color: transparent;
}
.oper-a-userlist-container80 {
  flex: 0 0 auto;
  width: 1200px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: -1px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-container81 {
  width: 1200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-500);
  border-width: 0.5px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.oper-a-userlist-text51 {
  width: 98%;
  font-size: 20px;
  font-style: normal;
  margin-top: 10px;
  text-align: left;
  font-weight: 700;
  margin-left: 2%;
  margin-bottom: 10px;
}
.oper-a-userlist-textarea {
  width: 96%;
  height: 247px;
  font-size: 16px;
  margin-left: 2%;
  border-width: 0px;
  margin-right: 2%;
  border-radius: 0px;
  background-color: var(--dl-color-gray-900);
}
.oper-a-userlist-filter-21 {
  width: 96%;
  height: 35px;
  display: flex;
  align-self: center;
  margin-top: 10px;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 10px;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.oper-a-userlist-container82 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text54 {
  color: var(--dl-color-gray-black);
  width: 50%;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}
.oper-a-userlist-container83 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text55 {
  color: var(--dl-color-gray-500);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a-userlist-radiobutton {
  width: 18px;
  height: 18px;
}
.oper-a-userlist-container84 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text56 {
  color: var(--dl-color-gray-500);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a-userlist-radiobutton1 {
  width: 18px;
  height: 18px;
}
.oper-a-userlist-container85 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text57 {
  color: var(--dl-color-gray-500);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a-userlist-radiobutton2 {
  width: 18px;
  height: 18px;
}
.oper-a-userlist-container86 {
  flex: 0 0 auto;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.oper-a-userlist-text58 {
  color: var(--dl-color-gray-500);
  width: 50%;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  margin-right: 10px;
}
.oper-a-userlist-radiobutton3 {
  width: 18px;
  height: 18px;
}
.oper-a-userlist-container87 {
  width: 1200px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.oper-a-userlist-container88 {
  flex: 0 0 auto;
  width: 10%;
  height: 40px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-danger-700);
}
.oper-a-userlist-container88:hover {
  background-color: var(--dl-color-danger-500);
}
.oper-a-userlist-container88:active {
  background-color: var(--dl-color-danger-300);
}
.oper-a-userlist-text59 {
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
.oper-a-userlist-container89 {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-300);
  border-top-left-radius: 4;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4;
  border-bottom-right-radius: 0;
}
.oper-a-userlist-text60 {
  color: var(--dl-color-gray-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
